@{
    bool isInBlog = Context.Request.Path.ToString().ToLower().Contains("/blog/") || Context.Request.Path.ToString().ToLower().Contains("/blogs");
    bool isInManage = Context.Request.Path.ToString().ToLower().Contains("/manage");
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="免费智能英语电子书阅读器，结合了人工智能和自然语言处理技术的阅读软件，帮您轻松阅读任何英语原著书籍。" />
    <meta name="apple-itunes-app" content="app-id=1589022901, app-argument=aareader">
    <meta name="og:image" content="https://www.aareader.app/images/logo.png" />
    <meta name="og:url" content="https://www.aareader.app" />
    <meta name="og:title" content="小A阅读 - 智能英语电子书阅读器" />
    <meta name="og:description" content="免费智能英语电子书阅读器，结合了人工智能和自然语言处理技术的阅读软件，帮您轻松阅读任何英语原著书籍。" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fonts/font/flaticon.css">
    <link rel="stylesheet" href="/css/icofont.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/swiper.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link href="/css/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    @RenderSection("Head", false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?76cfddf8b4f99b04eee5b60beb24a564";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <header class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="/images/logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i class="menu icofont-navigation-menu"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="mainmenu">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#home">主页</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#home">主页</a>
                                    }

                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#howitwork">功能</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#howitwork">功能</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#app-screenshot-area">截屏</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#app-screenshot-area">截屏</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#testimonial-area">好评</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#testimonial-area">好评</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#team">团队</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#team">团队</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#faq">问题</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#faq">问题</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#download">下载</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#download">下载</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#testflight">测试版</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#testflight">测试版</a>
                                    }
                                </li>
                                @*<li class="nav-item @(isInBlog ? "active" : null)">
                                @if (isInBlog)
                                {
                                <a class="nav-link @(isInBlog ? "active" : null)" href="#blogs">博客</a>
                                }
                                else
                                {
                                <a class="nav-link @(isInBlog ? "active" : null)" href="/blogs">博客</a>
                                }
                                </li>*@
                                <li class="nav-item">
                                    @if (isInBlog)
                                    {
                                        <a class="nav-link" href="/zh#contact">联系</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="#contact">联系</a>
                                    }
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer" id="footer">
        <div class="copy-bg text-center">
            <p>
                版权所有 © 小A阅读 2017-@DateTime.Today.Year。
            </p>
        </div>
    </footer>
    <div class="bottomtotop">
        <i class="fa fa-chevron-right"></i>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>